body {
    font-family: sans-serif;
    width: 100%;
    margin: 8px 0px 0px 0px;
}

header {
    width: 100%;
    background: black;
    position:fixed;
    top: 0%;
    left: 0%
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navheaderlist {
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: lightgray;
}

.navheaderlist:hover {
    color: white;
}

ul {
    list-style-type: none;
}

.sectOneDivOne {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 1440px;
    height: 636px;
    background: black;
}

.intro_blurb {
    text-align: center;
    color: white;
    font-size: 21px;
    line-height: 1.2381;
    font-weight: 400;
    letter-spacing: .016em;
    font-family: Arial, Helvetica, sans-serif;
}

.intro_blurb_name {
    font-size: xx-large;
    color: white;
    /*font-size: 21px;*/
    line-height: 1.2381;
    font-weight: 400;
    letter-spacing: .016em;
    font-family: Arial, Helvetica, sans-serif;
}

.mypic {
    text-align: center;
    width: 20em;
    border-radius: 100px;
}

.sectOneDivTwo {
    width: 1440px;
    height: 636px;
    background: whitesmoke;
}

.about {
    height: 550px;
    margin-top: 10px;
    padding-top: 25px;
}

.aboutMe {
    text-align: center;
    display: flex;
    flex-direction: column;
    /*Font Styling*/
    font-size: 21px;
    line-height: 1.2381;
    font-weight: 400;
    letter-spacing: .016em;
    font-family: Arial, Helvetica, sans-serif;
}

.seven {
    font-size: 48px;
}

ol {
    padding-left: 5em;
    padding-right: 5em;
    height: 500px;
    display: grid;
    margin: 0px;
}

ol li {
    font-size: 21px;
    line-height: 1.2381;
    font-weight: 400;
    letter-spacing: .016em;
    font-family: Arial, Helvetica, sans-serif;
}

.ga_logo {
    width: 160px;
    height: 18px;
}

.sectOneDivThree {
    width: 1440px;
    height: 636px;
    background: whitesmoke;
}

.developmentskillstext {
    color: black;
    text-align: center;
    margin-top: 15px;
    /*Font Styling*/
    font-size: 48px;
    font-weight: 600;
    letter-spacing:  -.002em;
    font-family: Arial, Helvetica, sans-serif;
    
}

.skills {
    display: grid;
    padding: 0.5em;
    background: whitesmoke;
}

.skillsFirst {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}

.skillsSecond {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.skillsSquare, .skillsSquare-github, .skillsSquare-api {
    width: 160px;
    height: 160px;
}

.skillsRectangle, .skillsRectangle-node, .skillsRectangle-restful  {
    width: 320px;
    height: 160px;
}

.skillsRectangle-axios {
    width: 320px;
    height: 80px
}

.sectionTwo {
    padding-top: 25px;
}

.sectionTwoWrapOne {
    display: grid;
}

.sectionTwoWrapTwo {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.rowFlexOne {
    display: flex;
    justify-content: space-between;
}

.rowFlexTwo {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.portfolio_projects_row_three {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.portfolio_projects_box {
    background: whitesmoke;
    width: 702px;
    height: 710px;
    text-align: center;
    border: none;
    border-radius: 3px;
    pointer-events: all;
    cursor: pointer;
}

.black {
    background: black;
    color: white;
}

.project_title {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0em;
    font-family: Arial, Helvetica, sans-serif;
}

.inside_box_pic {
    width: 27em;
    height: 20em;
}

.project-description {
    padding: 1em;
    /*Font Styling*/
    font-size: 21px;
    line-height: 1.2381;
    font-weight: 400;
    letter-spacing: .016em;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-family: monospace;
}

/* New Button */
.btn {
    color: #06c;
    text-decoration: none;
    font-size: 20px;
    line-height: 1.23536;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    pointer-events: all;
}

.btn:hover {
    text-decoration: underline;
}

/* Old Button
.btn {
    background-color: rgba(199, 83, 6, 1);
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5%;
}

.btn:hover {
    background-color:blue;
    font-size: larger;
}
*/

footer {
    background: #f5f5f7;
    position: relative;
    bottom: 0%;
    width: 100%;
    height: 75px;
}

.footer_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 15px;
    padding-left: 0px;
}

.footer_icon {
    width: 35px;
    height: 35px;
}

.footer_icon:hover {
    width: 36px;
    height: 36px;
}

@media(max-width:932px){
    .portfolio_projects_box {
        width: 448px;
        height: 761px;
    }

    header {
        width: 932px;
    }

    .sectOneDivOne, .sectOneDivTwo, .sectOneDivThree {
        width: 932px;
    }

    .developmentskillstext {
        font-size: 32px;
    }

    .skills {
        width: 932px;
        padding: 0px 0px 0px 0px;
    }

    .skillsFirst, .skillsSecond {
        width: 932px;
    }

    .skillsSquare, .skillsSquare-github, .skillsSquare-api {
        width: 104px;
        height: 104px;
    }
    
    .skillsRectangle, .skillsRectangle-node, .skillsRectangle-restful  {
        width: 208px;
        height: 104px;
    }
    
    .skillsRectangle-axios {
        width: 208px;
        height: 52px
    }

    .rowFlexOne, .rowFlexTwo {
        display:flex;
        justify-content: space-evenly;
    }

    .project_title {
        font-size: 32px;
    }

    .project-description {
        font-size: 19px;
        line-height: 1.21053;
        letter-spacing: .012em;
    }

}

@media(max-width:430px){
    body {
        width: 100%;
        margin: 8px 0px 0px 0px;
    }

    header {
        width: 100%;
    }
    
    .sectOneDivOne {
        width: 430px;
        height: 500px;
    }

    .sectOneDivTwo {
        width: 430px;
        height: 1300px;
    }

    .about {
        padding-top: 0px;
    }

    .seven {
        padding-top: 25px;
    }

    .sectOneDivThree {
        width: 430px;
        height: 600px;
    }

    .developmentskillstext {
        font-size: 32px;
        line-height: 1.125;
        letter-spacing: .004em;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .skillsSquare, .skillsSquare-github, .skillsSquare-api {
        width: 80px;
        height: 80px;
    }

    .skillsRectangle, .skillsRectangle-axios, .skillsRectangle-node, .skillsRectangle-restful {
        width: 160px;
        height: 80px;
    }

    .sectionOne_sectionTwo_sectionThree_Wrap {
        display: grid;
    }

    .skills {
        display: flex;
    }
    
    .skillsFirst, .skillsSecond {
        display: flex;
        width: 200px;
        flex-direction: column;
        padding-top: 0px;
    }

    .sectionTwo {
        padding-top: 60px;
    }
    
    .sectionTwoWrapOne {
        display: grid;
        justify-content: center;
    }

    .rowFlexOne, .rowFlexTwo {
        display: grid;
    }

    .portfolio_projects_box {
        width: 430px;
        height: 730px;
    }

    .media_margin_top {
        margin-top: 20px;
    }
    
    .inside_box_pic {
        width: 344px;
        height: 256px;
    }
    
    footer {
        display: grid;
        top: 20px;
        width: 430px;
    }

    .footer_list {
        padding-top: 0px;
        padding-left: 25px;
    }
}
